{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %} Sign Up {% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <div class="col-6 bg-white shadow bg-body rounded mt-5">
                    <div class="text-center mt-4">
                        <h2>Sign Up</h2>
                    </div>
                    <form action="" method="post" class="p-4" id="sign-up">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <div class="text-center">
                            <input type="submit" class="btn btn-primary w-50 mt-4" value="Sign Up">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {
            $("#sign-up").validate({
                rules: {
                    username: {
                        required: true,
                    },
                    first_name: {
                        required: true,
                    },
                    last_name: {
                        required: true,
                    },
                    email: {
                        required: true,
                        email: true
                    },
                    password1: {
                        required: true,
                        minlength: 8,
                    },
                    password2: {
                        required: true,
                    }
                },
            })
        })
    </script>
{% endblock %}