* {
    padding: 0;
    margin: 0;
}

#sign-up .error,
#login-form .error {
    color: red;
    font-size: 15px;
}

#sign-up .form-group {
    margin-bottom: 10px;
}

.asteriskField {
    margin-left: 3px;
    color: red;
}

#login .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}