<div class="container-fluid bg-dark mb-5">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                {% if request.user.is_superuser %}
                    <a class="navbar-brand" href="{% url 'admin-panel:dashboard' %}">Navbar</a>
                {% else %}
                    <a class="navbar-brand" href="{% url 'user:index' %}">Navbar</a>
                {% endif %}
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarTogglerDemo02"
                        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item ml-4">
                            {% if request.user.is_superuser %}
                                <a class="nav-link active" aria-current="page" href="{% url 'admin-panel:dashboard' %}">Home</a>
                            {% else %}
                                <a class="nav-link active" aria-current="page" href="{% url 'user:index' %}">Home</a>
                            {% endif %}
                        </li>
                        <li class="nav-item">
                                <form action="{% url 'accounts:admin-logout' %}" method="post">
                                    {% csrf_token %}
                                    <input type="submit" class="nav-link btn btn-sm btn-light" style="color: black"
                                           value="Logout">
                                </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>