{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %} Sign Up {% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <div class="col-6 bg-white shadow bg-body rounded mt-5">
                    <div class="text-center mt-4">
                        <h2>Add user</h2>
                    </div>
                    <form action="{% url 'admin-panel:add-user' %}" method="post" class="p-4" id="add-user">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <div class="">
                            <a href="{%url 'admin-panel:dashboard' %}" class="btn btn-primary px-4 mt-4">Back</a>
                            <input type="submit" class="btn btn-primary mt-4 px-4" value="Add User">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {
            $("#add-user").validate({
                rules: {
                    username: {
                        required: true,
                    },
                    first_name: {
                        required: true,
                    },
                    last_name: {
                        required: true,
                    },
                    email: {
                        required: true,
                        email: true
                    },
                    password1: {
                        required: true,
                        minlength: 8,
                    },
                    password2: {
                        required: true,
                    }
                },
            })
        })
    </script>
{% endblock %}