{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %} Update user {% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <div class="col-6 bg-white shadow bg-body rounded mt-5">
                    <div class="text-center mt-4">
                        <h2>Update User</h2>
                    </div>
                    <form action="" method="post" class="p-4" id="update">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <div class="d-flex">
                            <a href="{% url 'admin-panel:dashboard' %}" class="btn btn-primary mt-4 px-4">Cancel</a>
                            <input type="submit" class="btn btn-primary mt-4 ms-4 px-4" value="Update"
                                   onclick="return confirm('Are you sure to Update the user');">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {
            $("#update").validate({
                rules: {
                    username: {
                        required: true,
                    },
                    first_name: {
                        required: true,
                    },
                    last_name: {
                        required: true,
                    },
                    email: {
                        required: true,
                        email: true
                    },
                }
            })
        })
    </script>
{% endblock %}